name: Continuous Integration

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-and-coverage:
    name: JavaScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Enable corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: yarn

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Test
        run: yarn run test

      - name: Prepare for GitHub Pages deployment
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          mkdir -p ./.github/pages
          yarn exec make-coverage-badge --output-path ./.github/pages/coverage.svg

      - name: Upload static files as artifact
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./.github/pages

  deploy-gh-pages:
    name: Deploy GH Pages
    runs-on: ubuntu-latest
    needs: test-and-coverage
    if: ${{ github.event_name != 'pull_request' }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  live-test:
    name: GitHub Actions Test
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' }}
    permissions:
      contents: read
      id-token: write
    environment: live-test

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          service-account: ${{ secrets.TEST_SERVICE_ACCOUNT_ID }}

      - name: Print Output
        run: |
          echo "Expires-In: ${EXPIRES_IN}"
        env:
          EXPIRES_IN: ${{ steps.test-action.outputs.expires-in }}
